body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    font-family: 'Quicksand', sans-serif;
}

h1 {
    text-align: right;
}

#container {
    text-align: left;
    margin: 1em 1em auto auto;
}

#buttons-view {
    margin: auto 1em 1em 1em;
}

.gif-button {
    margin: 5px 5px 5px 5px;
    color: white;
    background-color: brown;
    border-color: black;
}

#add-gif {
    color: white;
    background-color: brown;
    border-color: black;
    margin-top: 5px;
}

#gif-form {
    margin: 5px auto auto auto;
    text-align: right;
}

.rating {
    margin-left: 1em;
    text-align: center;
}


.gif {
    margin: auto auto 1em 1em;
    border: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
}

#gif-view {
    display: inline-flex;
    flex-wrap: wrap;
}